* {
  box-sizing: border-box;
  padding-left: 10%;
  padding-right: 10%;  
  /*-image: url(bg1.jpg);
  background-repeat:no-repeat ;
  background-size: 100% 100%;
  */
  
}

.columns {
  float: left;
  width: 33.3%;
  padding: 8px;
}

.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  
 

}

.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
  background-color: orangered;
  color: white;
  font-size: 25px;
 
}

.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.price .grey {
  font-size: 20px;
 

}

.button {
  background-color:rgb(194, 79, 133);
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

}